.wrapper {
    background-color: rgba(239, 239, 239, 0.69);
}

.tab {
    margin: 20px 200px;
    padding-top: 20px;
    background-color: #ffffff;
}
.tabPane{
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    transition: background-color 0.3s ease;
}

.tabsDetail {
    display: flex;
    justify-content: space-between;
    // padding: 00px;
    align-items: center;
}

.orderContainer {
    display: flex;
    cursor: pointer;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    transition: background-color 0.3s ease;
    padding: 10px;
    width: 100%;
}

.orderContent { 
    display: flex;
    width: 100%;
}

.orderCode {
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #fff;
    transition: background-color 0.3s ease;
}

.orderItem {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
    width: 100%;
}

.orderItemDetail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
}

.imgAndInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imgOrderItem {
    max-width: 50px;
    max-height: 50px;
    margin-right: 5px;
}

.productInfo {
    flex: 1;
    margin: 0 10px;
}

.productName {
    font-weight: bold;
    margin-bottom: 0px;
    width: 100%;
}

.priceAndQuantity p {
    margin: 3px 0;
}


.actionColumn {
    transition: color 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}




.orderSummary {
    flex-shrink: 0;
    padding-left: 20px;
    text-align: right;
    margin-right: 20px;
}

.feeShipColumn,
.totalPriceColumn {
    font-weight: bold;
    margin-bottom: 10px;
}